@import url('https://fonts.googleapis.com/css2?family=Kalnia:wght@700&display=swap');
body {
  color: #676a81;
  background: #fff;
  max-width: 1920px;
  margin: 0 auto;
  overflow-x: hidden;
}

* {
  padding: 0;
  margin: 0;
}

html, body {
  height: 100%;
  position: relative;
}
/*  nav css */
.container1 {
  height: 29px;
  background-color: white;
}
.salma {
  padding: 8px 16px;
  float: left;
  font-size: 12px;
  display: block;
  color: #555054;
  text-transform: uppercase;
}

.nav1 a {
  float: right;

  color: #6b6161;
  text-align: center;
  padding: 11px 16px;
  text-decoration: none;
  font-size: 8px;
}
.nav1 a:hover {
  color: #8d4681;
  background-color: #ddd;
}

.sticky-nav {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #fff; /* Customize the background color */
  z-index: 1000; /* Set a higher z-index to ensure it appears above other elements */
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1); /* Optional: Add a shadow for a subtle effect */
}

@media screen and (max-width: 340px) {
  .salma {
    font-size: 8px;
  }
  .nav1 a {
    float: left;
    color: black;
  }

  .container1 {
    height: 35px;
  }
}

/* intro css */

.intro::after {
  position: absolute;
  content: " ";
  top: 0;
  left: 0;
  background: rgb(36 28 46 / 75%);
  width: 100%;
  height: 100%;
  z-index: -1; /* Set a negative z-index to place it below other elements */

}
.intro {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  background-image: url("./static/media/backgroung.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100vw; /* Set the width to 100% of viewport width */
  height: 100vh; /* Set the height to 100% of viewport height */
  z-index: 0; /* Set a negative z-index to place it below other elements */

}

.container2{
  font-family: 'Kalnia', serif;
  color: white;
  z-index: 1; /* Set a negative z-index to place it below other elements */

}

.hh2 {
  margin-left: 50px;
}

.container2 a{
  width: 97px;
  height: 16px;
  line-height: 17px;
  border-radius: 3px;
  text-transform: capitalize;
  color: #fff;
  background: #c09ad5;
  border: 1px solid #c09ad5;
  display: inline-block;
  text-decoration: none;
  color: var(--lack);
  font-size: 9px;
  margin-left: 174px;
  padding-left: 3px;
  
}

@media screen and (max-width: 340px) {
  .container2{
    font-size: 10px;
  }
  .container2 a{
    margin-left: auto;
  }

}


/* about section */

.abouthead{

  font-size: 10px;
    font-weight: 600;
    text-transform: uppercase;
    padding-bottom: 16px;
    border-bottom: 2px solid #e5ebf2;
    text-align: center;
    margin-top: 24px;

}



.flex-container {
  padding-top: 20px;

  display: flex;
  flex-direction: row;
  text-align: justify;
  font-size: 8px;
}



.flex-item-left {
  padding: 20px;

  flex: 50%;
}

.pp {
  border-bottom: 0.6px solid #999fb3;
  padding-bottom: 15px;
}

div.flex-item-right {
  flex: 15%;
  margin-right: 10px;
}




.row1{
  display: flex;
  padding-top: 10px;

}
.linkss
{display: flex;
  justify-content: center;
  align-items: center;
  bottom: 0;
  left: 0;
  width: 125px;
  

}

.linkss:hover{
  border: 0.6px solid #999fb3;
}

.linkss ul li {
display: inline-block;
  text-decoration: none;

}

img{
  width: 100%;
  height: auto;
    object-fit: cover;

}
.icon{
  color: #474548;
  padding: 4px;
  font-size: 13px;
  display: flex;
}

.line{
  border-bottom: 0.6px solid #999fb3;


  width: 125px;


}

/* Responsive layout - makes a one column layout instead of a two-column layout */
@media (max-width: 300px) {
  .flex-container {
    flex-direction: column;
  }

  .flex-item-right{
    margin-left: 40px;
  }
}



/* skills section */

.skillshead{

  font-size: 10px;
    font-weight: 600;
    text-transform: uppercase;
    padding-bottom: 16px;
    border-bottom: 2px solid #e5ebf2;
    text-align: center;
    margin-top: 70px;

}

.proggress-item-left{
flex: 50%;
padding-left: 10px;
}

.proggress-item-right{
  flex: 50%;
  padding-left: 10px;

}




.progress-moved {
background-color: #dbd9db;
border-radius: 10px;
flex:70%;
height: 8px;

}
.progress-bar2 {
  height: 8px;
  border-radius: 10px;
  background-color: #41648187;

}
.row2{display: flex;}
span{
  padding-left:3px ;
  flex:5%;


}

/* projects  */

.projectshead{

  font-size: 10px;
    font-weight: 600;
    text-transform: uppercase;
    padding-bottom: 16px;
    border-bottom: 2px solid #e5ebf2;
    text-align: center;
    margin-top: 70px;

}

.container {
	padding-top: 2rem;
}
.vedio1 {
	position: relative;
	max-width: 28rem;
	margin-left: 20px;
}

.vedio2 {
	display: flex;
	scroll-snap-type: x mandatory;
	scroll-behavior: smooth;
	border-radius: 0.5rem;
	-ms-overflow-style: none; /* Hide scrollbar IE and Edge */
	scrollbar-width: none; /* Hide scrollbar Firefox */
}

.bigimage{
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  padding-bottom: 100px;

  left: 0;
  top: 0;
  width: 100%;
  height: 50%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.9);
}

.bigimage:target {
  display: block;
}

.close{
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  text-decoration: none;
}

.imagecontent{
  margin: auto;
            display: block;
            width: 80%;
            max-width: 350px;
}



/* contact  */

.contacthead{

  font-size: 10px;
    font-weight: 600;
    text-transform: uppercase;
    padding-bottom: 16px;
    border-bottom: 2px solid #e5ebf2;
    text-align: center;
    margin-top: 70px;
}


input {
  border: 1px solid #ccc;
  border-radius: 2px;
  margin-top:10px;
}



button{
  background-color: #6d5272;
  color: white;
  padding: 5px 10px;
  border: none;
  border-radius: 4px;
  float: right;
  margin-top: -29px;
  margin-right: 10px;
}


.container4 {
  width: 350px;
  margin: auto;
  margin-top: 50px;
  background-color:#f7f7f7e3;
  border-left: 1px solid #8b8a8b;
  border-right: 1px solid #8b8a8b;
  border-radius: 2px;

}

label{

  font-size: 10px;
}

.left {
  float: left;
  width: 25%;
  margin-top: 6px;
}

.right {
  width: 75%;
}

form{
  padding-top: 17px;
  padding-left: 21px;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 400px) {
  .col-25, .col-75, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
}